*{
    margin: 0; 
   padding: 0;
   box-sizing: border-box;
}
body{
    font: 20px sans-serif;
}
.quem-somos{
    background-color:#8181f7;
    color: white;
}
.margin{
    padding-top: 50px;
    padding-bottom: 10px;
}
.partners{
    background-color: rgb(121, 214, 250);
}
.footer{
    background-color: black;
    color: blanchedalmond;
}
